[workspace]
authors = ["Rohit Goswami <rohit.goswami@epfl.ch>"]
channels = ["conda-forge", "https://repo.prefix.dev/rg-forge", "metatensor", "bioconda"]
name = "nebmmf"
platforms = ["linux-64"]
version = "0.1.0"

[environments]
eon = {features = ["eon", "asenwchem", "metatomic", "optdev", "nwchem", "cpu"]}
mlfsm = {features = ["mlfsm", "metatomic", "cpu"]}
eongpu = {features = ["eon", "asenwchem", "metatomic", "optdev", "nwchem"]}
rviz = {features = ["rviz"]}
brms = {features = ["brms"]}

[feature.nwchem.dependencies]
openmpi = "*"


[feature.rviz.dependencies]
radian = ">=0.6.15,<0.7"
r-ggplot2 = ">=4.0.0,<5"
r-tidyverse = ">=2.0.0,<3"
r-ggthemes = ">=5.1.0,<6"
r-patchwork = ">=1.3.2,<2"
r-scales = ">=1.4.0,<2"
r-latex2exp = ">=0.9.6,<0.10"
r-sysfonts = ">=0.8.9,<0.9"
r-showtext = ">=0.9_7,<0.10"
r-reticulate = ">=1.43.0,<2"
r-httpgd = ">=2.0.4,<3"
r-devtools = ">=2.4.6,<3"
r-ggnewscale = ">=0.5.2,<0.6"
r-ggridges = ">=0.5.7,<0.6"
r-ggimage = ">=0.3.4,<0.4"
r-ragg = ">=1.5.0,<2"
r-arrow = ">=21.0.0,<22"
r-ggrepel = ">=0.9.6,<0.10"
r-bench = ">=1.1.4,<2"
r-pmcmrplus = ">=1.9.12,<2"

[feature.metatomic]
# vesin torch has a wheel issue with macos x86_64
platforms = ["linux-64", "osx-arm64"]

[feature.metatomic.pypi-dependencies]
torch = ">=2.9, <2.10"
metatomic-torch = ">=0.1.7, <0.2"
metatensor-torch = ">=0.8.2, <0.9"
vesin-torch = ">=0.4, <0.5"
vesin = ">=0.4, <0.5"
metatrain = ">=2025.8.1, <2026"

[feature.optdev]
platforms = ["linux-64"]

[feature.optdev.dependencies]
mold = ">=2.40.2,<3"
ccache = ">=4.11.3,<5"

[feature.asenwchem.dependencies]
pybind11 = ">=3.0.0,<4"

[feature.asenwchem.pypi-dependencies]
# Technically only for the ASE wrapper
psutil = ">=7.0.0, <8"

[feature.brms.dependencies]
r-devtools = ">=2.4.5,<3"
r-brms = ">=2.23.0,<3"
r-tidybayes = ">=3.0.7,<4"
radian = ">=0.6.15,<0.7"
r-httpgd = ">=2.0.4,<3"
r-ragg = ">=1.5.0,<2"
r-tidyverse = ">=2.0.0,<3"
r-reprex = ">=2.1.1,<3"
cmdstan = ">=2.37.0,<3"
r-cmdstanr = ">=0.9.0,<0.10"
r-archive = ">=1.1.12,<2"
r-ggthemes = ">=5.1.0,<6"
r-hexbin = ">=1.28.5,<2"
r-performance = ">=0.15.1,<0.16"
r-zoo = ">=1.8_14,<2"
r-glmmtmb = ">=1.1.9,<2"
r-showtext = ">=0.9_7,<0.10"
r-sysfonts = ">=0.8.9,<0.9"

[feature.eon.dependencies]
# Kanged mostly from the pixi.toml within
# This is a customized amalgamation of deps
eigen = ">=3.4,<3.5"
# Pin python for torch
python = ">=3.11.5,<3.13"
# End manual pins
cmake = ">=4.0.3,<5"
highfive = ">=2.10.1,<3"
meson = ">=1.8.2,<2"
ninja = ">=1.12.1,<2"
pkgconf = ">=2.4.3,<3"
openblas = ">=0.3.29,<0.4"
pip = ">=25.1.1,<26"
pipx = ">=1.7.1,<2"
numpy = ">=2.3.0,<3"
compilers = ">=1.9.0,<2"
gfortran = ">=13.3.0,<13.4"
fmt = ">=12,<13"
spdlog = ">=1.16,<2"
xtb = ">=6.7.1,<7"
xtb-python = ">=22.1,<23"
tblite = ">=0.4.0,<0.5"
tblite-python = ">=0.4.0,<0.5"

[feature.mlfsm.pypi-dependencies]
mlfsm = { path = "./subrepos/ml-fsm", editable=true }

[tasks.dag]
args = ["_cwd"]
cmd = "cd {{ _cwd }} && snakemake -F --dag | dot -Tsvg > resources/dag.svg"

[tasks.rulegraph]
args = ["_cwd"]
cmd = "cd {{ _cwd }} && snakemake -F --rulegraph | dot -Tsvg > resources/rulegraph.svg"

[tasks.filegraph]
args = ["_cwd"]
cmd = "cd {{ _cwd }} && snakemake -F --filegraph | dot -Tsvg > resources/filegraph.svg"

[tasks.graphs]
args = ["_cwd"]
depends-on = [
  { task = "dag", args = ["{{ _cwd }}"] },
  { task = "rulegraph", args = ["{{ _cwd }}"] },
  { task = "filegraph", args = ["{{ _cwd }}"] },
]

[tasks.all-graphs]
depends-on = [
  { task = "graphs", args = ["eonRuns"] },
]

[feature.cpu.pypi-options]
extra-index-urls = ["https://download.pytorch.org/whl/cpu"]

[dependencies]
ira = ">=2.2.0,<3"
eon = ">=2.8.2"
snakemake = ">=9.14.1,<10"

[pypi-dependencies]
rgpycrumbs = { git = "https://github.com/HaoZeke/rgpycrumbs.git", branch = "eonMLFlow" }
ase = ">=3.26.0, <4"
requests = ">=2.28.1, <3"
metatrain = ">=2025.12, <2026"

[feature.eon.tasks.setupeon]
cwd = "subrepos/eOn"
# Remember that the mold stuff assumes that the user has a UNIX machine However
# dropping mold does nothing but leads to slightly longer build times so it
# isn't an issue
# For exact reproducibility -Dwith_ase_nwchem should be used but it shouldn't matter
# For debugging set
# --buildtype debug -Db_sanitize=address
# To prevent the subproject from leaking into the EON history, it is easier to
# simply rsync in since it is ignored at that path anyway
      # -Dpip_metatomic=True \
      # -Dtorch_version=2.9 \
cmd = """
meson setup bbdir --reconfigure \
      --prefix=$CONDA_PREFIX \
      --libdir=lib --buildtype {{ buildtype }} \
      --native-file nativeFiles/mold.ini \
      --native-file nativeFiles/ccache_gnu.ini \
      -Dwith_xtb=False \
      -Dwith_metatomic=True \
      -Dwith_tests=True \
      -Dwith_gprd=False
"""
args = ["buildtype"]

[feature.eon.tasks.mkeon]
cwd = "subrepos/eOn"
args = ["buildtype"]
depends-on = [
  { task = "setupeon", environment = "eongpu", "args" = ["{{buildtype}}"] },
]
cmd = """
meson compile -C bbdir && \
meson install -C bbdir
"""

[feature.eon.tasks.mknwchem]
# Corresponds to https://github.com/nwchemgit/nwchem/pull/1145
args = [{arg = "commitHash", default = "4c48fa339ec671bd78c1ebeea0c1f64104646267"}]
cmd = """
./scripts/build_nwchem.sh {{ commitHash }}
"""
